.hide{
    display: none;
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

  ankit-list{
    position: relative;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    background-color: #ebecf0;
    border-radius: 3px;
  }
  .deletebttn{
    position: absolute;
  }

  .addListItem{
    padding: 14px;
  }

  .textContent{
    padding-left: 15px;
  }

  .cursorPointer{
    cursor: pointer;
  }

  .list-content{
    width: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
  }
  list-header{
    text-align: center;
    font-weight: bold;
  }

  textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

textarea {
    resize: none;
  }